.history-item-container {
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-start;

  margin-top: 20px;
}
@media (max-width: 768px) {
  .history-item-container {
    flex-direction: column;
  }
}
.time {
  font-weight: bold;
  color: #64748b;
  padding-left: 10px;
  padding-right: 10px;
}
.icon {
  height: 30px;
  width: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.title {
  color: #475569;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}
.domain {
  color: #64748b;
  font-weight: 600;
  padding-left: 10px;
}
@media (max-width: 768px) {
  .title {
    margin-top: 0px;
  }
  .domain {
    margin-top: 0px;
  }
}
.item-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}
.details-text {
  display: flex;
  flex-direction: row;
}

.button {
  border-width: 0px;

  margin-right: 40px;
  background-color: transparent;
}

@media (max-width: 768px) {
  .details-text {
    flex-direction: column;
  }
  .item-container {
    align-items: flex-start;
  }
  .button {
    margin-right: 20px;
  }
}
.display-text {
  display: flex;
  align-items: center;
}
